*
!.gitignore

# webapp
!isucari
!isucari/webapp

!isucari/webapp/go
!isucari/webapp/go/*

!isucari/webapp/sql
!isucari/webapp/sql/*

!backup

!backup/mysql
!backup/mysql/conf.d
!backup/mysql/conf.d/*
!backup/mysql/mysql.conf.d
!backup/mysql/mysql.conf.d/*

!backup/nginx
!backup/nginx/*
!backup/nginx/sites-available
!backup/nginx/sites-available/*

!tools
!tools/*.sh